body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.header{
    color: white;
    text-align: center;
    font-size: 45px;
}

.point{
    color: white;
    text-align: center;
    font-size: 25px;
}

.point1{
color : black;
}

.center{
    text-align: center;
}

button{
    font-size: 20px;
    background-color: #ff884d;
    border: 2px solid #e64d00;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: white;
}

.input{
    text-align-last:  center;
}

.h3{
    text-align: center;
    color: aliceblue;
    font-size: 25px;
}


.button{
    text-align: center;
}
.line{
    display: inline;
}

table{
   margin-left: auto;
    margin-right: auto;
}
td {
    border: 2px solid #ff6666;
    width: 200px;
    color:white;
    font-size: 20px;
    background-color: rgba(1,1,1,0.8)
}
.gap{
     border: 2px solid #66b3ff;
     color:black;
    font-size: 30px;
    background-color: rgba(255,255,255,0.5)
}

@media only screen and (max-width:600px)
{
  .point1{
    color: black;
  }
}
